$monserrat : 'Montserrat', sans-serif
$ptseri : 'PT Serif', serif

*
    margin: 0
    padding: 0
    list-style: none
    text-decoration: none

body
    box-sizing: border-box      
    background: url("/IMG/35mm-aerial-aerial-shot-1105766.jpg")
    background-attachment: fixed
    .container
        width: 70%
        margin: 0px auto
        margin-top: 25px
        background: white
        box-shadow: 5px 5px 15px black
        .header 
            margin-top: 10px
            display: flexbox
            padding: 20px
            background: blue
            font-family: $monserrat
            .logo
                text-transform: uppercase
                font-family: $monserrat
                padding: 4px
                letter-spacing: 2px
                background: gray
                width: 330px
                text-align: center
                margin-bottom: 20px
                
            .menu   
                color: red 
                width: 100%
                background: gray
                text-transform: uppercase
                margin-bottom: 20px
                ul
                    line-height: 46px
                    background: gray
                    li
                        height: 46px
                        display: inline-block
                        transition: all 300ms
                       
                        &:hover
                            background: green
                        a   
                            display: block
                            
                            color: white
                            padding: 0px 30px 0px 30px
                       
      
        .slider
            display: flex
            width: 100%
            height: 100px
            font-family: $monserrat
            background: red
            align-items: center
            justify-content: center
            align-self: center

        .content
            display: flex
            font-family: $monserrat
            height: auto
            border: 2px solid white
                    
            .post
                display: flex
                width: 60%
                font-family: $ptseri
                background: green
                article
                    display: flex
                    padding: 20px
                    flex-direction: column
                    h2 
                        font-family: $monserrat
                        font-weight: 900
                        font-size: 25px
                        
                    #date
                        color: gray
                        
                    p   
                        text-align: justify
                        margin-top: 15px
                        font-family: $monserrat
                    .btn-leer
                        align-self: flex-end
                        width: 70px
                        padding: 15px
                        background: gray
                        color: white
                        margin-top: 10px
            .aside
                display: flex
                justify-content: center
                flex-direction: column
                width: 40%
                height: 100%
                background: blue
                padding: 10px
                                               
                .about
                    display: flex
                    flex-direction: column
                    align-items: center
                    h4
                        font-family: $monserrat
                        font-size: 20px
                        padding: 10px
                    img
                        width: 90%
                        box-shadow: 2px 2px 10px white

                    p
                        margin-top: 10px
                        margin-bottom: 10px
                        padding: 5px
                        text-align: justify 
                .login
                    
                    .form
                        display: flex
                        flex-direction: column
                        color: white
                        align-self: center
                        align-items: center

                        h4 
                            align-content: center
                            margin-top: 10px
                            margin-bottom: 10px
                        tr
                            display: flex
                            flex-direction: column
                            margin-bottom: 15px
                            margin-top: 5px
                            align-items: center
                        td
                            margin-top: 2px
                        input[type="text"],input[type="password"],input[type="email"]
                            padding: 5px
                            border-radius: 3px
                            border: 1px solid #ccc

                        .btn-enviar
                            font-family: $monserrat
                            width: 70px
                            cursor: pointer
                            padding: 7px
                            margin-top: 15px
                            border: 1px solid gray
                            border-radius: 4px
                            margin-bottom: 10px
                            font-weight: bolder
                            transition: all 0.3s
                            
                            &:hover
                                background: green
                                border: 1px solid green
                        
                            
               
                    

                    


    .foot
        margin: 0 auto
        height: 100px
        width: 70%
        margin-bottom: 15px
        background: blue
        color: white
        display: flex
        align-items: center
        align-content: space-between
        text-align: center
        justify-content: center
        div
           width: 25%
           margin: 10px
           background: gray
           height: 70px
        

                    